<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">My Products</h1>

<!-- main navigation -->
<nav th:replace="fragments :: navigation"></nav>
<!-- page navigation -->

<!--<nav>
    &lt;!&ndash;<a href="/product/">View</a> |&ndash;&gt;
    <a href="/product/add">Add</a> |
    &lt;!&ndash;<a href="/cheese/remove">Remove</a> |&ndash;&gt;
    &lt;!&ndash;<a href="/category">Categories</a> |
    <a href="/menu">Menus</a>&ndash;&gt;
</nav>-->

<!-- form to insert more products -->
<form method="post" style="max-width:600px;" th:object="${product}">
    <div class="form-group">
        <label th:for="name">Product Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="price">Product Price</label>
        <input class="form-control" th:field="*{price}" />
    </div>
    <div class="form-group">
        <label th:for="amount">Product Quantity</label>
        <input class="form-control" th:field="*{amount}" />
    </div>
    <!--<div class="form-group">
        <label>In-stock?</label>
        <label for="stocky-field">Yes?</label>
        <input class="form-control" id="stocky-field" type="radio" name="inStock" />
        <label for="stockn-field">No?</label>
        <input class="form-control" id="stockn-field" type="radio" name="inStock2" />
    </div>-->
    <div class="form-group">
        <label th:for="desc">Department</label>
        <input class="form-control" th:field="*{desc}" />
        <span th:errors="*{desc}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="vendor">Vendor</label>
        <input class="form-control" th:field="*{vendor}" />
    </div>
    <input type="submit" value="Add Product" />
</form>
</body>
</html>