<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
    <h1 th:text="${title}">My Products</h1>
<!-- main navigation -->
    <nav th:replace="fragments :: navigation"></nav>


<!--page navigation-->
<nav>
    <!--<a href="/product/">View</a> |-->
    <a href="/product/add">Add</a> |
    <!--<a href="/cheese/remove">Remove</a> |-->
    <!--<a href="/category">Categories</a> |
    <a href="/menu">Menus</a>-->
</nav>
    <br>

    <!-- if no products exists, regardless of size -->
    <p th:unless="${products} and ${products.size()}">no products available at this time</p>

    <!-- table to display products -->
    <table class="table">

        <tr>

            <th>Name</th>
            <th>Description</th>
        </tr>

        <tr th:each="product : ${products}">
            <td th:text="${product.key}"></td>
            <td th:text="${product.value}"></td>
        </tr>

    </table>


    <!-- loop through lists of products -->
<!--<ul>
    <li th:each="product : ${products}" th:text="${product}"></li>
</ul>-->

</body>
</html>