<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Remove Product</h1>
<!-- main navigation -->
<nav th:replace="fragments :: navigation"></nav>


<!--page navigation-->
<nav>
    <!--<a href="/product/">View</a> |-->
    <a href="/product/add">Add</a> |
    <a href="/product/remove">Remove</a> |
    <!--<a href="/category">Categories</a> |
    <a href="/menu">Menus</a>-->
</nav>
<br>

<form method="post">

    <div th:each="product : ${products}" class="check-box">
        <input type="checkbox" name="product" th:value="${product}" th:id="${product}"/>
        <label th:for="${product}" th:text="${product}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Product" />
</form>

</body>
</html>