<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Remove Product</h1>
<!-- main navigation -->
<nav th:replace="fragments :: navigation"></nav>


<!--page navigation-->
<nav>
    <!--<a href="/product/">View</a> |-->
    <a href="/product/add">Add</a> |
    <a href="/product/remove">Remove</a> |
    <!--<a href="/category">Categories</a> |
    <a href="/menu">Menus</a>-->
</nav>
<br>
<tr>

    <th>Item Name</th> |
   <!-- <th>Department</th> |
    <th>Amount Available</th>-->
</tr>
<form method="post">

    <div th:each="product : ${products}" class="check-box">
        <input type="checkbox" name="productIds" th:value="${product.productId}" th:id="${product.productId}"/>
        <label th:for="${product.productId}" th:text="${product.name}"></label> |
      <!--  <label th:for="${product.productId}" th:text="${product.desc}"></label> |
        <label th:for="${product.productId}" th:text="${product.amount}"></label>-->
        <br />
    </div>

    <input type="submit" value="Remove Product" />
</form>

</body>
</html>