<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">My Orders</h1>

<nav th:replace="fragments :: navigation"></nav>
<!--page navigation-->
<nav>
<!--    <a href="/order/">View</a> |-->
    <a href="/order/add">Add</a> |
    <!--<a href="/cheese/remove">Remove</a> |-->
    <!--<a href="/category">Categories</a> |
    <a href="/menu">Menus</a>-->
</nav>

<!-- if no products exists, regardless of size -->
<p th:unless="${orders} and ${orders.size()}">no orders available at this time</p>

<!-- loop through lists of products -->
<ul>
    <li th:each="order : ${orders}" th:text="${order}"></li>
</ul>

</body>
</html>