<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Remove Order</h1>
<!-- main navigation -->
<nav th:replace="fragments :: navigation"></nav>


<!--page navigation-->
<nav>
    <!--<a href="/order/">List</a> |-->
    <a href="/order/add">Add</a> |
    <a href="/order/remove">Remove</a> |
    <!--<a href="/category">Categories</a> |
    <a href="/menu">Menus</a>-->
</nav>
<br>

<form method="post" style="max-width:600px">

    <div th:each="order : ${orders}" class="check-box">
        <input type="checkbox" name="order" th:value="${order}" th:id="${order}"/>
        <label th:for="${order}" th:text="${order}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Order" />
</form>

</body>
</html>